deployment/infrastructure/state.json
{
  "Comment": "State Machine for a markdown based blog post pipeline",
  "StartAt": "convert_posts_to_json",
  "States": {
    "convert_posts_to_json": {
      "Type": "Task",
      "Resource": "${convert_posts_to_json}",
      "Next": "save_posts",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "save_posts",
          "ResultPath": "$.error"
        }
      ]
    },
    "save_posts": {
      "Type": "Task",
      "Resource": "${save_posts}",
      "Next": "upload_unchanged_posts"
    },
    "upload_unchanged_posts": {
      "Type": "Task",
      "Resource": "${upload_unchanged_posts}",
      "Next": "update_site_map"
    },
    "update_site_map": {
      "Type": "Task",
      "Resource": "${update_site_map}",
      "End": true
    }
  }
}